<div class="flex flex-col justify-center mx-6 my-2">
    <h1 class="mb-4 pt-2 text-xl font-extrabold leading-none tracking-tight text-center text-gray-900 md:text-2xl lg:text-4xl">All Posts</h1>
    {{#each posts as |post|}}
        <div class="post my-2 mx-2 bg-[#5C6784] border border-gray-200 shadow text-white" id={{post.id}}>
            <div class="bg-[#1D263B] flex flex-row justify-between">
                <div class="mx-2">
                    <a class="text-lg font-semibold" href="api/post/{{post.id}}">{{post.title}}</a>
                </div>
                <div class="mx-4 mt-1">
                    <p class="text-sm font-light italic">
                    Created on {{dateFormat post.createdAt "MM-DD-YYYY [at] hh[:]mm A"}}
                    </p>
                </div>
            </div>
            <div class="hover:bg-gray-100">
                <p class="mx-2 hover:text-black">
                    {{post.body}}
                </p>
            </div>
        </div>
    {{/each}}
</div>