<div class="flex flex-row flex-wrap justify-evenly mx-6 my-2">
    {{#each posts as |post|}}
        <div class="post my-2 mx-2 bg-[#5C6784] border border-gray-200 shadow hover:bg-gray-100 text-white" id={{post.id}}>
            <div class="bg-[#1D263B] flex flex-row p-1">
                <div class="pl-1">
                    <p class="p-4 text-lg font-semibold">
                    {{post.title}}
                    </p>
                </div>
                <div class="pl-6">
                    <p class="p-4 text-sm font-light italic">
                    Created by {{post.user.username}} on {{dateFormat post.createdAt "MM-DD-YYYY [at] hh[:]mm A"}}
                    </p>
                </div>
            </div>
            <p class="mx-2 hover:text-black">
            {{post.body}}
            </p>
        </div>
    {{/each}}
</div>